* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:darkgrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  float: left;
  width: 33.33%;
  height: 750px;
}

li:hover {
  background-color:rgb(244, 174, 241);
}

button {
  background-color: #4CAF50;
  padding: 9px 19px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 2px 5px #595555;
}

img {
  width: 45%;
}

h3 {
  width: fit-content;
  line-height: 1;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

h4 {
  width: fit-content;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.selected-movie {
  display: flex;
}

.selected-movie-description {
  width: 35%;
}

.selected-movie-ratings-reviews {
  width: 50%;
}

.rate-movie-please {
  height: 30px;
}

.reviews {
  margin-top: 70px;
}

.username-input {
  position: relative;
  left: 53px;
}

.username-review {
  width: 50%;
  height: 70px;
}

.review {
  display: block;
  border: 1px solid;
}

.selected-movie-description > img {
  width: 47%;
}

.search {
  font-size: 25px;
}